<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485936393262-1h717g8g7jvd9m5i663fn04t5npnnpcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485936393262-1h717g8g7jvd9m5i663fn04t5npnnpcd</string>
	<key>API_KEY</key>
	<string>AIzaSyCNCI1NyZe0zjFptjQvG038wGcmGcovHCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>485936393262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metxtract.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>metxtract-e67ec</string>
	<key>STORAGE_BUCKET</key>
	<string>metxtract-e67ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485936393262:ios:ab2ddabec8530b960643bf</string>
	<key>DATABASE_URL</key>
	<string>https://metxtract-e67ec-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>